*{
    box-sizing: border-box;
}
.no-style-list {
    list-style: none;
}
.no-style-list li {
    padding: 5px;
}
html body{
    font-family: 'Merienda', cursive;
}
.buttonStyle{
    border-radius: 5px;
    padding:0 12px 0 12px;
    cursor: pointer;
}
.buttonBack{
    background-color:rgba(235, 235, 189, 0.979);
}
#button{
    /* background-color: purple; */
}
#flowerHeading{
    padding-left:50px;
    color: purple
}
.navbar{
    margin-top:-35px;;
}
#purposeOfPage{
    padding: 10px 35px 0 35px;
    font-size:20px;
}
/* .headingBack{
    background-image: url("garden.png") ;
    background-repeat: repeat-x;
    background-position: center center;
    background-color: rgba(228, 233, 237, 0.5);
    font-weight:bold;
    
} */
.headingBack{
    position: relative;
    font-weight:bold;
}
.backImage{
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    opacity:0.5
}
#infoTip{
    font-size:18px;
    padding-top:15px;
}
.bodyBack{
   background-image:url('myBouquet.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   margin-top:-30px;
}
.paragraphStyle{
    color:lightgreen;
    font-size: 25px;
    text-align:center;
    margin-top: 20px;
    padding-top:10px;
}
.list-group li:first-child{
    color:white;
    font-size:20px;
}
.noMatch{
    color:purple;
    font-size: 45px;
    font-weight:bold;
    text-align: center;
    margin-top: 350px;
    background-color:lightyellow;
}
#flowerContainer{
    margin-top:30px;
    margin-bottom:20px;
    font-size:25px;
}
.resetForm{
    margin-left: 100px;
    margin-right:100px;
    padding:0 10px 0 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.buttonContainer{
    background-color: lightyellow;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    position: absolute;
    bottom:5px;
}
.inputContainer{
    background-color: lightyellow;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    position: absolute;
    bottom:65px;
}
img{
    height:175px;
    width:225px;
    margin-bottom: 20px;
    margin-top:10px;
}
.requir{
    color:red;
}