body, html{
   box-sizing:border-box;
   background-color: rgb(235, 235, 213);
   font-family: 'Merienda', cursive;
}

.imageSize{
    display: block;
    height:130px;
    width:20%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
.blockquote{
    opacity:0.6;
    color: gray;
    border: 1px solid darkgray;
    border-radius: 7px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
#flowerHeading{
    padding-left:50px;
    color: purple
}
.headingBack{
    position: relative;
    font-weight:bold;
}
.backImage{
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    opacity:0.5
}
.navbar{
    margin-top:-35px;;
}
.inspireHead{
    text-align: center;
    margin-top:15px;
}